.card{
    border: 1px dashed;
    border-radius: 10px;
    width: 300px;
}
.card:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0,0,0,.4);
}
.location, .outcode{
    font-size: 14px;
    color: grey;
}
.rating{
    color: rgb(76, 218, 33);
}
.menuArea{
    padding: 1rem;
    float: bottom;
    background-color: rgba(190, 187, 187, 0.575);
    margin-top: 2rem;
}
.nameArea{
    padding: 1rem;
}
.type{
    font-weight: 700;
}
.cardContainer{
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
}